MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=recipe_local
LM_STUDIO_BASE_URL=http://127.0.0.1:1234

# Sécurité
APP_PASSWORD=changeme
APP_SESSION_SECRET=generate_with_openssl_rand_hex_32

# OpenAI
OPENAI_API_KEY=sk-...
